  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>トラブル情報
                </h2>
              </header>
                <h3>トラブル<%= @trouble.vm_name %></h3>
            </div>
          </article>
          <a href="/troubles/1/edit">修正する</a>
        </div>
        <div id="yjSub">