<!DOCTYPE html>
<html>
<head>
  <title>MwOp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">サービストラブル情報</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarEexample">
          <ul class="nav navbar-nav">
            <li><a href="/troubles">故障</a></li>
            <li><a href="/investments">調査</a></li>
            <li><a href="#">その他</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>
